h1{
		text-align: center;
		font-size: 45px;
		margin-top: 80px;
		font-weight: bold;
	}
	h5{
		text-align: center;
		font-size: 30px;
	}
	h6{
		font-size: 25px;
		font-weight: bold;
		font-style: italic;
		text-decoration: underline;
	}
	p{
		font-size: 20px;
		text-align: center;
	}